.App {
  text-align: center;
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #f7f7f7;
  height: 80vh;
  margin-top: 3rem;
  /* border: 1px solid #e2e2e2; */
  border-radius: 30px;
  box-shadow: 1px 1px 2px 1px #eaeaea;
}

.alert-primary {
  color: #e9edf1;
  background-color: #3d3e40;
  border-color: #4b5258;
  border-radius: 30px;
}